@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-color: #000;
    --input: #ccc;
    --form-button-background: grey;
    --form-button: #fff;
    --form-button-hover: #0056b3;
    font-family: "Playfair Display", serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

body {
    scroll-behavior: smooth;
}
