.contacts__container {
  display: flex;
}

.contacts__form {
  flex: 1;
  padding: 20px;
}

.contacts__img {
  flex: 1;
  padding: 20px;
}

.contacts__form-form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .contacts__container {
    flex-direction: column;
  }

  .contacts__form,
  .contacts__img {
    width: 100%;
  }
}

.contacts__img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.contacts__form-form {
  max-width: 300px;
  margin: auto;
}

.contacts-form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--input);
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
}

.contacts-form__button {
  padding: 10px;
  background-color: var(--form-button-background);
  color: var(--form-button);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.contacts-form__button:hover {
  background-color: var(--form-button-hover);
}

p {
  text-align: center;
}

.contacts__text-title {
  padding-top: 50px;
}

.contacts-img {
  height: 40px;
}
