.contacts__container {
    display: flex;
    }

.contacts__form-main{
    flex: 1;
    padding: 20px;
    }

.contacts__img{
    flex: 1;
    padding: 20px;
    }

.contacts__form-form {
    display: flex;
    flex-direction: column;
    }

@media (max-width: 768px) {
    .contacts__container {
        flex-direction: column; /* Змінює напрямок на вертикальний на малих екранах */
    }

    .contacts__form,
    .contacts__img {
        width: 100%; /* Забезпечує, щоб обидва елементи займали повну ширину на малих екранах */
    }
}

.contacts__img {
    max-width: 100%; /* Забезпечує, що ширина зображення не буде перевищувати ширину його контейнера */
    height: auto; /* Забезпечує пропорційні зображення, так щоб висота адаптувалась відповідно */
    display: block; /* Виправляє можливі відступи, пов'язані з властивістю display: inline */
    margin: auto; /* Центрує зображення в його контейнері, якщо ширина менша, ніж максимальна ширина */
}

.contacts__form-form {
    max-width: 300px; /* Максимальна ширина форми (можна налаштувати відповідно до ваших потреб) */
    margin: auto;
}

.contacts-form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px; /* Заокруглені кути */
    width: 100%; /* Займає всю ширину контейнера */
    box-sizing: border-box; /* Забезпечує, щоб padding і border враховувались у загальній ширині елемента */
}

.contacts-form__button {
    padding: 10px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.contacts-form__button:hover {
    background-color: #0056b3;
}

p {
text-align: center;
}

.contacts__text-title {
padding-top: 50px;
}


