.portfolio-wedding__p2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 70px;
  margin-top: 70px;
}

@media (max-width: 400px) {
  .portfolio-wedding__p2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.carousel-container__wedding,
.carousel-container__family,
.carousel-container__children,
.carousel-container__lovestory {
  position: relative;
  width: 80%;
  margin: auto;
}

.prev-slide,
.next-slide,
.prev-slide__family,
.next-slide__family,
.prev-slide__children,
.next-slide__children,
.prev-slide__lovestory,
.next-slide__lovestory {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--black-color);
}

.prev-slide,
.prev-slide__family,
.prev-slide__children,
.prev-slide__lovestory {
  left: -40px;
  transform: translateY(-50%) rotate(180deg);
}

.next-slide,
.next-slide__family,
.next-slide__children,
.next-slide__lovestory {
  right: -40px;
}

.arrow-svg_1j4 {
  fill: var(--black-color);
  width: 20px;
  height: 20px;
}

.buttons-change {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.buttons-change button {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media (min-width: 800px) {
  .buttons-change {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
  }
  .buttons-change button {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
